<div *ngIf="showPdf" class="pdf-overlay">
    <div class="pdf-container">
        <button class="close-button" (click)="togglePdfViewer()">X</button>
        <section>
            <pdf-viewer id="pdf-section" 
                [src]="pdfSrc"
                [render-text]="true"
                [original-size]="true"
                [zoom]="zoomLevel"
            ></pdf-viewer>
        </section>
        <div class="zoom-controls">
            <button class="zoom-button" (click)="zoomIn()">+</button>
            <button class="zoom-button" (click)="zoomOut()">-</button>
        </div>
    </div>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mostrar PDF</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellido }}</td>
      <td>
        <button id="btn-abrirPdf" (click)="togglePdfViewer()">Mostrar PDF</button>
      </td>
    </tr>
  </tbody>
</table>

